<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
=======
<<<<<<< HEAD
body{
  padding: 0;
  margin: 0;
};
=======
>>>>>>> feature/create-modal
>>>>>>> 0f76f4ba04c464ccee50ff67a7e41008d57f8efd
